:root {
  --primary-color: #185A9D;
  --secondary-color: #00F260;
  --trinary-color: #43CEA2;
  --color-white: #ffffff;
  --font-family: "Avenir LT Std", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol;
  --font-size: 16px;
  --text-color: #424242;
  --transition-duration: 1s;
}

@font-face {
  font-family: "Avenir LT Std";
  src: url("../assets/fonts/AvenirLTStd-Light.eot") format("embedded-opentype"), url("../assets/fonts/AvenirLTStd-Light.woff") format("woff"), url("../assets/fonts/AvenirLTS35.ttf") format("truetype");
  font-weight: 100 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("../assets/fonts/Avenir-Heavy.eot");
  src: url("../assets/fonts/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Avenir-Heavy.woff") format("woff"), url("../assets/fonts/Avenir-Heavy.ttf") format("truetype");
  font-weight: 600 900;
  font-style: normal;
}
body {
  color: var(--text-color);
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: calc(100vw - 2 * var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.text-white {
  color: var(--color-white);
}

.text-secondary {
  color: var(--secondary-color);
}

.section {
  padding: 60px 0px;
}

.heading {
  font-size: 32px;
  font-weight: 800;
  padding: 20px 0px;
}

.sub-heading {
  font-size: var(--font-size);
}

header {
  background-color: var(--primary-color);
}
header .header-block {
  padding: 20px 0px;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
header .header-block .logo {
  font-weight: 700;
  font-size: 28px;
  display: flex;
}
header .header-block .Join {
  background-color: var(--color-white);
  color: var(--primary-color);
  text-transform: capitalize;
  padding: 5px 20px;
  border-radius: 20px;
}
header .header-block .Join a {
  color: var(--primary-color);
  font-weight: 600;
}

.banner-container {
  background-color: var(--primary-color);
  padding: 50px 0px;
}
.banner-container .banner-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-container .banner-block .banner-caption {
  color: var(--color-white);
  width: 45%;
}
.banner-container .banner-block .banner-caption .heading {
  font-size: 42px;
}
.banner-container .banner-block .banner-caption .heading a {
  color: inherit;
}
.banner-container .banner-block .banner-caption .sub-heading {
  font-size: 16px;
  font-weight: 400;
  width: 65%;
  letter-spacing: -0.14px;
}
.banner-container .banner-block .banner-image img {
  width: 80%;
  height: auto;
}

.traffic-battle-block {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.traffic-battle-block .traffic-battle {
  margin: 20px 10px;
  border-radius: 16px;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 4px 0px 0px var(--primary-color);
  padding: 20px 15px;
  width: 25%;
  min-width: 215px;
}
.traffic-battle-block .traffic-battle .battle-icon img {
  height: 40px;
}
.traffic-battle-block .traffic-battle .heading {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 0px;
}

.solution-container {
  background: linear-gradient(133deg, var(--primary-color) 0%, var(--trinary-color) 100%);
}
.solution-container .heading {
  color: var(--color-white);
}
.solution-container .solution-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 25px;
}
.solution-container .solution-block .solution {
  margin: 20px 10px;
  background: rgba(0, 0, 0, 0.33);
  border-radius: 16px;
  width: 150px;
  transition-duration: var(--transition-duration);
}
.solution-container .solution-block .solution:hover {
  transform: scale(1.1);
}
.solution-container .solution-block .solution .top-section {
  background-color: var(--color-white);
  text-align: center;
  padding: 12px 0px;
  border-radius: 16px 16px 0px 0px;
}
.solution-container .solution-block .solution .top-section img {
  height: 40px;
}
.solution-container .solution-block .solution .content {
  text-align: center;
  padding: 15px;
  color: var(--color-white);
}
.solution-container .solution-block .solution .content .heading {
  font-size: 18px;
}
.solution-container .solution-block .solution .content .sub-heading {
  font-size: 14px;
  padding: 5px 0px;
}

.switch-container {
  background: linear-gradient(180deg, rgba(251, 251, 251, 0) 0%, rgba(24, 90, 157, 0.16) 100%);
}
.switch-container .switch-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.switch-container .switch-block .switch-tab {
  text-align: left;
  width: 40%;
  min-width: 300px;
  margin: 1%;
}
.switch-container .switch-block .switch-tab .switch-option {
  border-radius: 8px;
  background: var(--color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  color: var(--primary-color);
  font-weight: 700;
  margin: 15px 0px;
  padding: 10px 20px;
}
.switch-container .switch-block .switch-survey {
  padding: 10px 20px;
  width: 45%;
  margin: 1%;
}
.switch-container .switch-block .switch-survey .survey-link {
  display: flex;
}
.switch-container .switch-block .switch-survey .survey-link a {
  background: var(--primary-color);
  border-radius: 28px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
  color: var(--color-white);
  padding: 10px 20px;
  margin: 30px 0px;
  cursor: pointer;
}

.aboutus-container {
  background: #F8F8F8;
}

.partner-container {
  background-color: var(--color-white);
}
.partner-container .sub-heading {
  font-weight: 600;
}
.partner-container ul li {
  margin: 10px 0px;
}
.partner-container .partner-block {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
}
.partner-container .partner-block .partner {
  margin: 20px 40px;
  transition-duration: var(--transition-duration);
}
.partner-container .partner-block .partner:hover {
  transform: scale(1.1);
}
.partner-container .partner-block .partner .icon {
  text-align: center;
}
.partner-container .partner-block .partner .icon img {
  height: 80px;
}
.partner-container .partner-block .partner .partner-name {
  text-align: center;
  margin-top: 20px;
  font-weight: 800;
  font-size: 24px;
}

.route-container {
  background: var(--primary-color);
  padding-bottom: 0px;
}
.route-container .heading {
  color: var(--color-white);
  text-align: center;
}
.route-container .route-block {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.route-container .route-block .route {
  background-color: #0E365F;
  border-radius: 16px;
  padding: 25px 15px;
  text-align: center;
  margin: 20px;
  width: 150px;
  cursor: pointer;
  transition-duration: 1s;
}
.route-container .route-block .route:hover {
  transform: scale(1.1);
}
.route-container .route-block .route .icon img {
  height: 90px;
}
.route-container .route-block .route .content {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-white);
  margin-top: 20px;
}
.route-container .building-block {
  background-image: url("../assets/images/building.svg");
  background-repeat: repeat-x;
  height: 250px;
  background-position: top;
  margin-top: 20px;
}

.campaign-container {
  background: #0C3D6E;
  color: var(--color-white);
  text-align: center;
}
.campaign-container .heading {
  margin-top: 20px;
}
.campaign-container .sub-heading {
  width: 450px;
  max-width: 90%;
  margin: auto;
  margin-top: 10px;
  font-size: 18px;
}
.campaign-container .campaign-link {
  margin-top: 40px;
}
.campaign-container .campaign-link a {
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 16px;
  padding: 7px 16px;
}

footer {
  background: #363636;
  padding: 10px 0px;
  color: var(--color-white);
}
footer .sub-heading {
  font-weight: 600;
}
footer .social-block {
  display: flex;
  justify-content: left;
}
footer .social-block .social {
  cursor: pointer;
  margin: 5px 5px;
}
footer .social-block .social img {
  width: 20px;
}

@media screen and (max-width: 576px) {
  header .header-block .logo {
    font-size: 24px;
  }
  .banner-container .banner-block .banner-caption {
    width: 100%;
  }
  .banner-container .banner-block .banner-image {
    display: none;
  }
  .switch-container .switch-block .switch-tab {
    width: 100%;
  }
  .switch-container .switch-block .switch-survey {
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
  .banner-container .banner-block .banner-caption {
    width: 100%;
  }
  .banner-container .banner-block .banner-image {
    display: none;
  }
  .switch-container .switch-block .switch-tab {
    width: 100%;
  }
  .switch-container .switch-block .switch-survey {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 720px;
  }
  .banner-container .banner-block .banner-caption {
    width: auto;
  }
  .banner-container .banner-block .banner-image {
    display: block;
  }
  .switch-container .switch-block .switch-tab {
    width: 40%;
  }
  .switch-container .switch-block .switch-survey {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
  }
  .banner-container .banner-block .banner-caption {
    width: 45%;
  }
}
@keyframes come-in {
  0% {
    transform: translatey(100px);
    opacity: 0;
  }
  30% {
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    transform: translateX(0px) scale(1.2);
  }
  100% {
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
.floating-container {
  position: fixed;
  height: 80px;
  width: 160px;
  bottom: 30px;
  right: 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  transform: translatey(5px);
  transition: all 0.3s;
}
.floating-container .floating-button {
  position: absolute;
  background: var(--primary-color);
  bottom: 0;
  border-radius: 16px;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}/*# sourceMappingURL=app.css.map */